body {
    background-color: #04A6EB;
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;     /* 外側をウィンドウの自動取得 */
}

button {
    padding: 5px 20px;            /*内側　上下px 左右px*/
    background-color: #337AB7;
    color: #FDFFFF;
    border-color: #2E6DA4;
    border-style: none;
}

input {
    height: 20px;
}
